[submodule "IoT-Monitoring-System-backend"]
	path = IoT-Monitoring-System-backend
	url = git@github.com:nabil0412/IoT-Monitoring-System-backend.git
	branch = main
[submodule "IoT-Monitoring-System-frontend"]
	path = IoT-Monitoring-System-frontend
	url = git@github.com:nabil0412/IoT-Monitoring-System-frontend.git
