[submodule "DXC-IoT-Monitoring-System-backend"]
	path = DXC-IoT-Monitoring-System-backend
	url = git@github.com:nabil0412/DXC-IoT-Monitoring-System-backend.git
	branch = main
[submodule "DXC-IoT-Monitoring-System-frontend"]
	path = DXC-IoT-Monitoring-System-frontend
	url = git@github.com:nabil0412/DXC-IoT-Monitoring-System-frontend.git
